*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    background-color: cadetblue;
    /* background: transparent; */
    width: 100%;
    justify-content: center;
  

}

nav{
    /* max-width: 100%;
    min-width: 30%; */
    width: 100%;
    display: flex;
    height: 60px;
    max-width: 1200px;
    /* padding: 2% 6%; */
    justify-content: space-between;    
    /* margin-left: 100px; */
    margin:0 auto;

    align-items:center ;
    
   
}   

.header_container nav ul li{
    /* align-items: center; */
    display: inline-flex;
    padding: 0 auto;
    
}

.header_container nav ul li a{
    
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    padding: 20px;
    border-radius: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* transition: 2s; */
}

.header_container nav ul li a:hover{
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 30%;
    color: #fff;
}

.header_container.login_button{
    margin-top: -10px;
   
}

.header_container .login_button button{
    color: white;
    text-decoration: none;
    /* background: orange; */
    border-radius: 30%; 
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;

}

.header_container .login_button button:hover{
    scale: 1.20;
    color: white;
    background-color: orange;
    transition: 2s;
    border-radius: 30%;
}
.header-container .login_button button:active{
    scale: 0.95;
}
.logo{
    font-size: 1.5em;
    font-weight: bold;
}
.bar_btn{
    color: #fff;
    font-size: 25px;
    cursor:pointer;
    display: none;

}

/* DROPDOWN MENU */
.dropdown_menu{
    /* display: none;THis declaretion makes all the following content being disappeared */
    position: absolute;
    right: 2rem;
    top:60px ;
    width: 300px;
    height: 0;
   background: rgba(
    255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown_menu .open{
    height: 240px ; 
}  

.dropdown_menu li{
    list-style: none;
    text-decoration: none;
    outline: none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    /* background-color: orange; */
    width: 100%;
    display: flex;
    justify-content: center;

}

/* HERO */
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#hero h1{
    font-size: 3rem;
}

/* ........................................................................................................................................................ */
/* RESPONSIVITY WEB */


@media(max-width: 992px){
    .login_button,
    ul,.bar_btn{
        display: none;
    }

    nav .bar_btn{
        display: block ;
    }

    
.dropdown_menu{
    display: block;
} 

}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2em;
        width:unset;
    }
}
